---
import "../styles/global.css";
import slugify from "./../util/slugify";

import HeaderPrimary from "../components/header.primary.astro";
import Hero from "../components/hero.astro";
import FeatureFilmstrip from "../components/feature.filmstrip.astro";
import Biome from "../components/biome.astro";
import Footer from "../components/footer.astro";
import MainAside from "../components/main.aside.astro";

import * as FieldSizing from "../features/components/field-sizing.astro";
import * as AnimateToHeightAuto from "../features/components/animate-to-height-auto.astro";
import * as ExclusiveDetails from "../features/components/exclusive-details.astro";
import * as StyleableDetails from "../features/components/styleable-details.astro";
import * as AnchorPositioning from "../features/components/anchor-positioning.astro";
import * as CustomizableSelect from "../features/components/customizable-select.astro";

import * as BackdropInheritance from "../features/developerexperience/backdrop-inheritance.astro";
import * as HighlightInheritance from "../features/developerexperience/highlight-inheritance.astro";
import * as LightDarkFunction from "../features/developerexperience/light-dark.astro";
import * as TextBoxTrim from "../features/developerexperience/text-box-trim.astro";
import * as AtProperty from "../features/developerexperience/at-property.astro";
import * as Popover from "../features/developerexperience/popover.astro";
import * as StartingStyle from "../features/developerexperience/starting-style.astro";
import * as RubyAlign from "../features/developerexperience/ruby-align.astro";
import * as LineClamp from "../features/developerexperience/line-clamp.astro";
import * as PaintOrder from "../features/developerexperience/paint-order.astro";
import * as Masonry from "../features/developerexperience/masonry.astro";
import * as CSSOMNestedDeclarations from "../features/developerexperience/cssom-nested-declarations.astro";

import * as ScrollbarStyling from "../features/interactions/scrollbar-styling.astro";
import * as ViewTransitionsMPA from "../features/interactions/view-transitions-mpa.astro";
import * as ScrollDrivenAnimations from "../features/interactions/scroll-driven-animations.astro";
import * as ScrollSnapEvents from "../features/interactions/scroll-snap-events.astro";
import * as ReadingFlow from "../features/interactions/reading-flow.astro";

const biomes = [
  {
    title: "Components",
    description: "Lorem ipsum dolor sit amet components adipisicing elit.",
    backdrop: "desert",
    features: [
      FieldSizing,
      AnimateToHeightAuto,
      ExclusiveDetails,
      StyleableDetails,
      AnchorPositioning,
      CustomizableSelect,
    ],
  },
  {
    title: "Interactions",
    description: "Lorem ipsum dolor sit amet interactions adipisicing elit.",
    backdrop: "arctic",
    features: [
      ScrollbarStyling,
      ViewTransitionsMPA,
      ScrollDrivenAnimations,
      ScrollSnapEvents,
      ReadingFlow,
    ],
  },
  {
    title: "Developer Experience",
    description:
      "Lorem ipsum dolor sit amet developer experience adipisicing elit.",
    backdrop: "jungle",
    features: [
      BackdropInheritance,
      HighlightInheritance,
      LightDarkFunction,
      TextBoxTrim,
      AtProperty,
      Popover,
      StartingStyle,
      RubyAlign,
      LineClamp,
      PaintOrder,
      Masonry,
      CSSOMNestedDeclarations,
    ],
  },
];

// Flatten all Biome features to a list of CSS timeline names
const timelines = biomes.reduce(
  (timelines, biome) => [
    `--vtl--${slugify(biome.title)}`,
    ...biome.features.map(
      (feature) => `--vtl--${slugify(biome.title)}--${slugify(feature.title)}`
    ),
    ...timelines,
  ],
  []
);
---

<!--
 Copyright 2024 Google LLC
 SPDX-License-Identifier: Apache-2.0
--><!-- remove the VT until the clientside theme switch is loaded so we dont flash a VT -->
<html lang="en" style="view-transition-name: none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>CSS Wrapped 2024</title>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/baseline-status@1.0.4/baseline-status.min.js"
    ></script>
  </head>
  <body>
    <HeaderPrimary />
    <Hero />
    <FeatureFilmstrip biomes={biomes} />

    <main style={`timeline-scope: ${timelines.join(", ")}`}>
      <MainAside biomes={biomes} />

      <div class="biomes">
        {
          biomes.map((biome) => {
            return (
              <div
                class={`biome ${biome.backdrop}`}
                style={`view-timeline-name: --vtl--${slugify(biome.title)};`}
              >
                <Biome {...biome} />
              </div>
            );
          })
        }
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  @layer page.biomes {
    main {
      display: grid;
      gap: var(--size-4);
      grid-template-areas: ". main-features main-sidenav .";
      grid-template-columns:
        [fullbleed-start]
        auto
        fit-content(720px)
        minmax(0, 30ch)
        auto
        [fullbleed-end];

      @media (width <= 960px) {
        grid-template-areas: ". main-features .";
        grid-template-columns:
          [fullbleed-start]
          auto
          fit-content(720px)
          auto
          [fullbleed-end];
      }
    }

    .biomes {
      grid-column: fullbleed;
      grid-row: 1;

      display: grid;
      row-gap: 10vh;
      grid-template-columns: subgrid;
    }

    .biome {
      grid-column: fullbleed;

      display: grid;
      grid-template-columns: subgrid;

      padding-block-end: var(--size-8);

      background-attachment: fixed;
      background-size: cover;
      background-position: top center;

      &.desert {
        background-image: url(/biomes/desert.svg);
      }

      &.arctic {
        background-image: url(/biomes/arctic.svg);
      }

      &.jungle {
        background-image: url(/biomes/jungle.svg);
      }
    }
  }
</style>
