---
import "../styles/global.css";
import slugify from "./../util/slugify";

import HeaderPrimary from "../components/header.primary.astro";
import Hero from "../components/hero.astro";
import FeatureFilmstrip from "../components/feature.filmstrip.astro";
import Biomes from "../components/biomes.astro";
import Footer from "../components/footer.astro";
import MainAside from "../components/main.aside.astro";
import CookieConsent from "../components/cookieconsent.astro";

import * as FieldSizing from "../features/components/field-sizing.astro";
import * as AnimateToHeightAuto from "../features/components/animate-to-height-auto.astro";
import * as ExclusiveDetails from "../features/components/exclusive-details.astro";
import * as StyleableDetails from "../features/components/styleable-details.astro";
import * as AnchorPositioning from "../features/components/anchor-positioning.astro";

import * as BackdropInheritance from "../features/developerexperience/backdrop-inheritance.astro";
import * as LightDarkFunction from "../features/developerexperience/light-dark.astro";
import * as AtProperty from "../features/developerexperience/at-property.astro";
import * as Popover from "../features/developerexperience/popover.astro";
import * as StartingStyle from "../features/developerexperience/starting-style.astro";
import * as RubyAlign from "../features/developerexperience/ruby-align.astro";
import * as PaintOrder from "../features/developerexperience/paint-order.astro";
import * as CSSOMNestedDeclarations from "../features/developerexperience/cssom-nested-declarations.astro";

import * as ScrollbarStyling from "../features/interactions/scrollbar-styling.astro";
import * as ViewTransitionsMPA from "../features/interactions/view-transitions-mpa.astro";
import * as ScrollDrivenAnimations from "../features/interactions/scroll-driven-animations.astro";
import * as ScrollSnapEvents from "../features/interactions/scroll-snap-events.astro";

const biomes = [
  {
    title: "Components",
    description:
      "<b>Over the mountains.</b> Lorem ipsum dolor sit amet components adipisicing elit.",
    backdrop: "desert",
    image: "/biomes/desert.svg",
    features: [
      FieldSizing,
      AnimateToHeightAuto,
      ExclusiveDetails,
      StyleableDetails,
      AnchorPositioning,
    ],
  },
  {
    title: "Interactions",
    description:
      "Through the forest. Lorem ipsum dolor sit amet interactions adipisicing elit.",
    backdrop: "arctic",
    image: "/biomes/arctic.svg",
    features: [
      ScrollbarStyling,
      ViewTransitionsMPA,
      ScrollDrivenAnimations,
      ScrollSnapEvents,
    ],
  },
  {
    title: "Developer Experience",
    description:
      "<b>Across the seas.</b> Lorem ipsum dolor sit amet developer experience adipisicing elit.",
    backdrop: "jungle",
    image: "/biomes/jungle.svg",
    features: [
      BackdropInheritance,
      LightDarkFunction,
      AtProperty,
      Popover,
      StartingStyle,
      RubyAlign,
      PaintOrder,
      CSSOMNestedDeclarations,
    ],
  },
];

// Flatten all Biome features to a list of CSS timeline names
const timelines = biomes.reduce(
  (timelines, biome) => [
    `--vtl--${slugify(biome.title)}`,
    ...biome.features.map(
      (feature) => `--vtl--${slugify(biome.title)}--${slugify(feature.title)}`,
    ),
    ...timelines,
  ],
  [],
);
---

<!--
 Copyright 2024 Google LLC
 SPDX-License-Identifier: Apache-2.0
--><!-- remove the VT until the clientside theme switch is loaded so we dont flash a VT -->
<html lang="en" style="view-transition-name: none">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>CSS Wrapped 2024</title>
    <link
      rel="preload"
      href="/fight.otf"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <script type="module" src="/baseline-status.min.js"></script>
  </head>
  <body>
    <HeaderPrimary />
    <Hero biomes={biomes} />
    <!-- <FeatureFilmstrip biomes={biomes} /> -->

    <main style={`timeline-scope: ${timelines.join(", ")}`}>
      <MainAside biomes={biomes} />
      <Biomes biomes={biomes} />
    </main>

    <Footer />
    <CookieConsent />
  </body>
</html>

<style>
  @layer components.main {
    main {
      display: grid;
      gap: var(--size-4);
      grid-template-areas: ". main-features main-sidenav .";
      grid-template-columns:
        [fullbleed-start]
        auto
        fit-content(80ch)
        minmax(0, 30ch)
        auto
        [fullbleed-end];

      @media (width <= 1200px) {
        grid-template-areas: ". main-features .";
        grid-template-columns:
          [fullbleed-start]
          auto
          fit-content(80ch)
          auto
          [fullbleed-end];
      }
    }
  }
</style>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-754F24EHD8"
></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "G-754F24EHD8");
</script>
