---
import slugify from "./../util/slugify";
const { title, image, description, features } = Astro.props;
---

<header>
  <img src={image} alt="" width="1280" height="720" />
  <h2 class="retro-title">{title}</h2>
  <p>{description}</p>
</header>
<section id={slugify(title)} data-details-target={`details-${slugify(title)}`}>
  <div class="features-list">
    {
      features.map((Feature) => (
        <div
          style={`view-timeline-name: --vtl--${slugify(title)}--${slugify(Feature.title)}`}
        >
          <Feature.default />
        </div>
      ))
    }
  </div>
</section>

<style>
  @layer components.biome {
    header {
      grid-column: main-features;
      display: flex;
      flex-flow: column;
      gap: var(--size-5);
      margin-block-end: var(--size-8);

      > img {
        border-radius: var(--radius-4);
      }

      > h2 {
        grid-column: main-features;
        font-size: clamp(5rem, 9vw, 10rem);
      }
    }

    section {
      display: grid;
      gap: var(--size-3);
      grid-column: main-features;
      padding-block-end: 10vh;

      > .features-list {
        grid-column: 1;

        &:not(:first-of-type) {
          margin-block-start: var(--size-11);
        }
      }
    }

    .features-list {
      display: grid;
      gap: var(--size-10);
    }
  }
</style>
