---
import slugify from "./../util/slugify";
const { title, image, alt, description, features } = Astro.props;
---

<header id={slugify(title)}>
  <img src={image} alt={alt} width="1280" height="720" loading="lazy" />
  <div>
    <h2>
      <a href=`#${slugify(title)}`>#</a>
      {title}
    </h2>
    <p set:html={description} />
  </div>
</header>
<section data-details-target={`details-${slugify(title)}`}>
  <div class="features-list">
    {
      features.map((Feature) => (
        <div
          style={`--vt-name: --vtl--${slugify(title)}--${slugify(Feature.title)}`}
        >
          <Feature.default />
        </div>
      ))
    }
  </div>
</section>

<style>
  @keyframes biome-header {
    to {
      opacity: 0;
      transform: translateY(5vh) scale(0.9);
    }
  }

  @layer components.biome {
    header {
      grid-column: main-features;
      display: flex;
      flex-flow: column;
      gap: var(--size-5);
      margin-block-end: 5vh;

      @media (width >= 720px) {
        margin-block-end: 10vh;
      }

      img {
        border-radius: var(--radius-4);

        @supports (animation-timeline: view()) {
          @media (prefers-reduced-motion: no-preference) {
            animation: biome-header linear both;
            animation-timeline: view();
            animation-range: exit -10% exit 100%;
          }
        }
      }

      > div {
        display: grid;
        max-inline-size: var(--size-content-3);
        margin: auto;
        gap: var(--size-3);

        @supports (animation-timeline: view()) {
          @media (prefers-reduced-motion: no-preference) {
            animation: biome-story linear both;
            animation-timeline: view();
            animation-range: cover 30% cover 50%;
          }
        }
      }

      h2 {
        font-size: clamp(3rem, 13vi, 6.1rem);
        margin-left: -0.4em;
        a {
          text-decoration: none;
          font-size: 0.65em;
          visibility: hidden;
          height: 100%;
          display: inline-block;
          vertical-align: middle;

          h2:hover & {
            visibility: visible;
          }
        }
      }

      @media (width >= 720px) {
        p {
          font-size: var(--font-size-4);
          font-weight: 200;
        }
      }
    }

    section {
      display: grid;
      gap: var(--size-3);
      grid-column: main-features;
      scroll-margin-block-start: var(--size-9);

      &:not(:last-child) {
        padding-block-end: 10vh;
      }

      > .features-list {
        grid-column: 1;

        &:not(:first-of-type) {
          margin-block-start: var(--size-11);
        }
      }
    }

    .features-list {
      display: grid;
      gap: var(--size-10);

      > div {
        view-timeline-name: var(--vt-name);
      }
    }
  }
</style>
