---
import slugify from "./../util/slugify";
const { title, image, description, features } = Astro.props;
---

<header>
  <img src={image} alt="" width="1280" height="720" />
  <div>
    <h2 class="retro-title">{title}</h2>
    <p set:html={description} />
  </div>
</header>
<section id={slugify(title)} data-details-target={`details-${slugify(title)}`}>
  <div class="features-list">
    {
      features.map((Feature) => (
        <div
          style={`--vt-name: --vtl--${slugify(title)}--${slugify(Feature.title)}`}
        >
          <Feature.default />
        </div>
      ))
    }
  </div>
</section>

<style>
  @keyframes biome-header {
    to {
      opacity: 0;
      transform: translateY(5vh) scale(0.9);
    }
  }

  @layer components.biome {
    header {
      grid-column: main-features;
      display: flex;
      flex-flow: column;
      gap: var(--size-5);
      margin-block-end: 5vh;

      @media (width >= 720px) {
        margin-block-end: 10vh;
      }

      img {
        border-radius: var(--radius-4);

        @supports (animation-timeline: view()) {
          @media (prefers-reduced-motion: no-preference) {
            animation: biome-header linear both;
            animation-timeline: view();
            animation-range: exit -10% exit 100%;
          }
        }
      }

      > div {
        display: grid;
        max-inline-size: var(--size-content-3);
        margin: auto;
        gap: var(--size-3);

        @supports (animation-timeline: view()) {
          @media (prefers-reduced-motion: no-preference) {
            animation: biome-story linear both;
            animation-timeline: view();
            animation-range: cover 30% cover 50%;
          }
        }
      }

      h2 {
        font-size: clamp(5rem, 9vw, 7rem);
      }

      @media (width >= 720px) {
        p {
          font-size: var(--font-size-4);
          font-weight: 200;
        }
      }
    }

    section {
      display: grid;
      gap: var(--size-3);
      grid-column: main-features;
      padding-block-end: 10vh;

      > .features-list {
        grid-column: 1;

        &:not(:first-of-type) {
          margin-block-start: var(--size-11);
        }
      }
    }

    .features-list {
      display: grid;
      gap: var(--size-10);

      > div {
        view-timeline-name: var(--vt-name);
      }
    }
  }
</style>
