---
import slugify from "./../util/slugify";
import shuffle from "./../util/shuffle";

const { biomes } = Astro.props;

// Flatten all Biome features to one flat array
const features = biomes
  .reduce((features, biome) => [...features, ...biome.features], [])
  .map((feature) => feature.title);
---

<div class="feature-grid">
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
</div>

<style>
  @keyframes pan-x {
    from {
      transform: translateX(-15vw);
    }
    to {
      transform: translateX(5vw);
    }
  }

  @layer components.feature-filmstrip {
    .feature-grid {
      display: grid;
      place-content: center;
      gap: var(--size-3);
      padding-block: var(--size-10) var(--size-13);
      max-inline-size: 100vw;
      overflow: clip;

      > .row {
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        gap: var(--size-3);

        @media (prefers-reduced-motion: no-preference) {
          @supports (animation-timeline: view()) {
            animation: pan-x linear both;
            animation-timeline: view(block);
          }
        }

        &:nth-child(2n-1) {
          animation-direction: reverse;
        }

        &:nth-child(1) > .card {
          block-size: 150px;
        }

        &:nth-child(2) > .card {
          block-size: 200px;
        }

        &:nth-child(3) > .card {
          block-size: 250px;
        }

        > .card {
          block-size: 200px;
          aspect-ratio: var(--ratio-widescreen);
          padding: var(--size-3);
          background: var(--surface-3);
          border-radius: var(--radius-3);
          box-shadow: var(--shadow-1);

          display: grid;
          place-content: center;
          place-items: center;
          text-align: center;
          overflow: clip;

          font-family: "Fight", var(--font-sans);
          font-weight: normal;
          line-height: 0.75;
          font-size: var(--font-size-8);
          font-weight: 100;

          &:not(:hover) {
            color: var(--text-1);
          }
        }
      }
    }
  }
</style>
