---
import slugify from "./../util/slugify";
import shuffle from "./../util/shuffle";

const { biomes } = Astro.props;

// Flatten all Biome features to one flat array
const features = biomes
  .reduce((features, biome) => [...features, ...biome.features], [])
  .map((feature) => feature.title);
---

<div class="feature-grid">
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
  <div class="row">
    {
      shuffle(features)
        .slice(0, 12)
        .map((feature) => (
          <a class="card" href={`#${slugify(feature)}`} set:html={feature} />
        ))
    }
  </div>
</div>

<style>
  @keyframes pan-x {
    from {
      transform: translateX(-15vw);
    }
    to {
      transform: translateX(5vw);
    }
  }

  @layer components.feature-filmstrip {
    .feature-grid {
      display: grid;
      place-content: center;
      gap: var(--size-3);
      padding-block: var(--size-10) var(--size-13);
      max-inline-size: 100vw;
      overflow: clip;

      > .row {
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        gap: var(--size-3);

        @media (prefers-reduced-motion: no-preference) {
          @supports (animation-timeline: view()) {
            animation: pan-x linear both;
            animation-timeline: view(block);
          }
        }

        &:nth-child(2n-1) {
          animation-direction: reverse;
        }

        &:nth-child(1) > .card {
          block-size: 150px;
        }

        &:nth-child(2) > .card {
          block-size: 200px;
        }

        &:nth-child(3) > .card {
          block-size: 150px;
        }

        > .card {
          block-size: 200px;
          aspect-ratio: var(--ratio-widescreen);
          padding: var(--size-3);
          background: var(--surface-document);
          border-radius: var(--radius-3);
          box-shadow: var(--shadow-1);
          border: 5px solid transparent;
          border-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%2300FF00'/%3E%3C/svg%3E")
            8 stretch;

          display: grid;
          place-content: center;
          place-items: center;
          text-align: center;
          overflow: clip;

          font-size: var(--font-size-3);

          &:not(:hover) {
            color: var(--text-1);
          }
        }
      }
    }
  }
</style>
