---
import { Icon } from "astro-icon/components";
import slugify from "./../util/slugify";

const { biomes } = Astro.props;
---

<nav popover id="mobile-menu" class="mobile-sidenav">
  <div class="inner-popover">
    <header>
      <h2>CSS Wrapped</h2>
      <button popovertarget="mobile-menu" popovertargetaction="hide">
        <Icon name="close" title="Close" aria-label="Close" size="2rem" />
      </button>
    </header>
    <div>
      <section class="toc">
        <p>Table of Contents</p>
        <ul>
          <li>
            <a href="#to-top">
              <Icon name="home" size="1.5rem" aria-hidden="true" />
              Home
            </a>
          </li>
          <li>
            <a href="#introduction">
              <Icon name="star" size="1.5rem" aria-hidden="true" />
              Introduction
            </a>
          </li>
          <li>
            <a href="#outro">
              <Icon name="check" size="1.5rem" aria-hidden="true" />
              Footer
            </a>
          </li>
        </ul>
      </section>
      {
        biomes.map((biome) => {
          return (
            <section>
              <h2>
                <a href={`#${slugify(biome.title.toLowerCase())}`}>
                  {biome.title}
                </a>
              </h2>
              <ul>
                {biome.features.map((feature) => {
                  return (
                    <li
                      style={`--_view-timeline: --vtl--${slugify(biome.title)}--${slugify(feature.title)};`}
                    >
                      <a
                        href={`#${slugify(feature.title)}`}
                        set:text={feature.title}
                      />
                    </li>
                  );
                })}
              </ul>
            </section>
          );
        })
      }
    </div>
    <footer>
      <a
        href="https://github.com/googlechromelabs/css-wrapped-2024"
        class="feedback"
      >
        <Icon
          name="github"
          title="Source on Github"
          size="1.5rem"
          aria-hidden="true"
        />
        Github
      </a>
    </footer>
  </div>
</nav>

<aside>
  <div class="dynamic-aside">
    <nav>
      <a href="#to-top">Home</a>
      <a href="#introduction">Introduction</a>
      {
        biomes.map((biome, i) => {
          return (
            <details
              name="main-aside"
              id={`details-${slugify(biome.title)}`}
              open={i === 0 ? "open" : null}
            >
              <summary>{biome.title}</summary>
              <ul>
                {biome.features.map((feature) => {
                  return (
                    <li
                      style={`--_view-timeline: --vtl--${slugify(biome.title)}--${slugify(feature.title)};`}
                    >
                      <a
                        href={`#${slugify(feature.title)}`}
                        set:text={feature.title}
                      />
                    </li>
                  );
                })}
              </ul>
            </details>
          );
        })
      }
      <a href="#outro">Footer</a>
    </nav>
  </div>
</aside>

<script>
  // open details to appropriate section
  const { matches: mobileLayout } = window.matchMedia("(width <= 1200px)");
  const layoutEvent = window.matchMedia("(width <= 1200px)");

  const biomeObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const details = document.querySelector(
            `#${entry.target.getAttribute("data-details-target")}`
          );
          details.setAttribute("open", "");
        }
      });
    },
    {
      threshold: 0,
    }
  );

  const featureObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        const id = entry.target.getAttribute("id");
        const $li = document.querySelector(
          `aside nav details li:has(a[href="#${id}"])`
        );

        if (!$li) return;

        if (entry.isIntersecting) {
          $li.classList.add("in-view");
        } else {
          $li.classList.remove("in-view");
        }
      });
    },
    {
      threshold: 0,
    }
  );

  function observeForSidenav() {
    document.querySelectorAll(".biome > section").forEach((biome) => {
      biomeObserver.observe(biome);

      if (!CSS.supports("animation-timeline: view()")) {
        const features = biome.querySelectorAll(
          ".features-list > div > article"
        );
        features.forEach((feature) => {
          featureObserver.observe(feature);
        });
      }
    });
  }

  function unobserveForSidenav() {
    document.querySelectorAll(".biome > section").forEach((biome) => {
      biomeObserver.unobserve(biome);

      if (!CSS.supports("animation-timeline: view()")) {
        const features = biome.querySelectorAll(
          ".features-list > div > article"
        );
        features.forEach((feature) => {
          featureObserver.unobserve(feature);
        });
      }
    });
  }

  layoutEvent.onchange = (e) => {
    if (e.matches) {
      unobserveForSidenav();
    } else {
      observeForSidenav();
    }
  };

  if (!mobileLayout) {
    observeForSidenav();
  }

  document.addEventListener("scroll", decideFlip, { passive: true });
</script>

<style>
  @layer components.aside {
    aside {
      grid-area: main-sidenav;
      grid-row: 1;
      container: main-aside / inline-size;

      @media (width <= 1200px) {
        display: none;
      }
    }

    .dynamic-aside {
      position: sticky;
      top: var(--size-9);
      margin-left: var(--size-6);

      > nav {
        block-size: max-content;
        display: grid;
        gap: var(--size-3);

        > a {
          font-weight: var(--font-weight-7);
          color: var(--text-1);
        }

        details {
          padding: 0;
        }

        summary,
        details {
          background: none;
        }

        summary::marker {
          margin-right: 20px;
        }

        > details {
          @media (prefers-reduced-motion: no-preference) {
            interpolate-size: allow-keywords;
          }

          &::details-content {
            opacity: 0;
            block-size: 0;
            overflow-y: clip;
            transition:
              content-visibility 0.5s allow-discrete,
              opacity 0.5s,
              block-size 0.5s;
          }

          &[open]::details-content {
            opacity: 1;
            block-size: auto;
          }
        }

        > details:nth-child(1) {
          &,
          & > summary {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        > details:nth-child(2) {
          &,
          & > summary {
            border-radius: 0;
          }
        }

        > details:nth-child(3) {
          &,
          & > summary {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }

      ul {
        padding: 0;
        display: grid;

        > li {
          display: flex;
          position: relative;

          padding-inline: var(--size-3);
          padding-block: var(--size-1);

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 4px;

            inline-size: 3px;
            block-size: 100%;

            /* SDA ScrollSpy */
            @supports (animation-timeline: view()) {
              background: var(--link);
              transform: scaleY(0);
              animation: i-spy linear;
              animation-timeline: var(--_view-timeline);
            }

            @supports not (animation-timeline: view()) {
              background: transparent;
            }
          }

          /* IntersectionObserver-based ScrollSpy */
          &.in-view::before {
            background: var(--link);
          }

          & code {
            padding: 0;
            background: none;
          }
        }
      }
    }

    .track {
      /* managed by script */
      --scroll-direction: 1;

      container-type: size;
      position: relative;
      width: 10px;
      background-image: url(/track-grunge.svg);
      background-repeat: repeat-y;
      border-right: 10px solid transparent;
      border-image: linear-gradient(to right, #0000 9px 0, var(--text-1) 0);
      border-image-slice: 11 fill;

      &::before,
      &::after {
        content: url(/cactus.svg);
        width: 15px;
        height: 5px;
        rotate: 90deg;
        position: absolute;
        top: 80%;
        left: 18px;
      }

      &::before {
        top: 20%;
        left: 30px;
      }

      > [data-icon] {
        max-inline-size: initial;
        color: var(--text-1);
      }

      @media (prefers-reduced-motion: no-preference) {
        @supports (animation-timeline: view()) {
          > [data-icon] {
            animation: truck-ride linear both;
            animation-timeline: view();
            view-timeline: --features-view;
            animation-range-start: entry calc(100vh - 3rem);
          }
        }
        @supports not (animation-timeline: view()) {
          > [data-icon] {
            display: none;
          }
        }
      }
    }

    .mobile-sidenav {
      --_left-pad: var(--size-8);
      --_x: calc(var(--_left-pad) / 2 * -1);

      background: var(--surface-1);
      border-inline-end: 1px solid var(--surface-2);
      block-size: 100dvh;
      max-block-size: 100dvh;
      overflow: auto;

      padding-block: var(--size-5) 0;
      padding-inline: var(--_left-pad) var(--size-5);

      @media (width > 1200px) {
        display: none;
      }

      @media (prefers-reduced-motion: no-preference) {
        transition:
          translate 0.5s var(--ease-spring-1),
          box-shadow 0.5s ease,
          display 0.5s linear allow-discrete,
          overlay 0.5s linear allow-discrete;
      }

      &:not(:popover-open) {
        translate: -100% 0;
      }

      &:popover-open {
        translate: var(--_x) 0;
        box-shadow:
          3px 0px 2px #00000005,
          8px 0px 5px #00000007,
          15px 0px 10px #00000008,
          27px 0px 18px #0000000a,
          50px 0px 33px #0000000c,
          119px 0px 80px #00000011;

        @starting-style {
          translate: -100% 0;
        }
      }

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > h2 {
          font-size: var(--font-size-8);
          margin-block-start: -0.25ch;
        }

        > button {
          background: var(--surface-1);
          border: none;
          padding: var(--size-2);
          cursor: pointer;
          color: var(--text-2);
          border-radius: var(--radius-round);
          transition:
            box-shadow 0.7s var(--ease-spring-3),
            outline-offset 145ms var(--ease-2);

          > svg {
            /* safari fix */
            block-size: 2rem;
          }

          &:hover {
            box-shadow: 0 0 0 5px var(--surface-2);
          }
        }
      }

      .toc {
        a {
          display: flex;
          gap: var(--size-2);
          align-items: center;

          > svg {
            /* safari fix */
            block-size: 1.5rem;
          }
        }
      }

      footer {
        position: sticky;
        bottom: 0;

        padding-block: var(--size-3);
        background: var(--surface-1);
        border-top: 1px solid var(--surface-2);
      }

      .feedback {
        display: inline-flex;
        gap: var(--size-2);
        align-items: center;
        background: var(--surface-2);
        padding-inline: var(--size-3);
        padding-block: var(--size-2);
        border-radius: var(--radius-2);

        > svg {
          /* safari fix */
          block-size: 1.5rem;
        }
      }

      .inner-popover {
        block-size: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
        gap: var(--size-7);

        > div {
          display: grid;
          gap: var(--size-7);
          align-content: start;

          > section {
            display: grid;
            gap: var(--size-2);
            padding-inline-end: var(--size-4);
          }
        }
      }

      h2 {
        font-size: var(--font-size-4);
      }

      ul {
        list-style-type: none;
        padding: 0;
        display: grid;
        border-left: 1px solid var(--surface-2);

        > li {
          padding-inline-start: var(--size-5);
          line-height: 2;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -2px;
            background: var(--link);
            inline-size: 4px;
            block-size: 100%;

            transform: scaleY(0);
            animation: i-spy linear;
            animation-timeline: var(--_view-timeline);
          }

          > a:not(:hover, :focus-visible) {
            color: var(--text-2);
          }
        }
      }
    }
  }
</style>

<style is:global>
  @keyframes truck-ride {
    from {
      transform: rotate(0.25turn) translateX(0cqb)
        scaleX(calc(var(--scroll-direction, 0)));
    }

    to {
      transform: rotate(0.25turn) translateX(calc(100cqb - 1ch))
        scaleX(calc(var(--scroll-direction, 0)));
    }
  }

  @keyframes i-spy {
    entry 0% {
      transform-origin: top;
      transform: scaleY(0);
    }
    entry 25% {
      transform-origin: top;
      transform: scaleY(1);
    }

    exit 75% {
      transform-origin: bottom;
      transform: scaleY(1);
    }
    exit 100% {
      transform-origin: bottom;
      transform: scaleY(0);
    }
  }
</style>
