---
import { Icon } from "astro-icon/components";
import slugify from "./../util/slugify";

const { features, sectionTitle, previousSection, nextSection } = Astro.props;
---

<aside>
  <div class="track">
    <Icon name="dino" size="1.5rem" />
  </div>
  <nav>
    {previousSection && <p><a href={`#${slugify(previousSection)}`}>&uarr; {previousSection}</a></p>}
    <h3>{ sectionTitle }</h3>
    <ul>
      {
        features.map((title) => {
          return (
            <li>
              <a href={`#${slugify(title)}`} set:html={title} />
            </li>
          );
        })
      }
    </ul>
    {nextSection && <p><a href={`#${slugify(nextSection)}`}>{nextSection} &darr; </a></p>}
  </nav>
</aside>

<!-- flip car based on scroll direction -->
<script>
  const tracks = document.querySelectorAll(".track");

  document.addEventListener(
    "scroll",
    (e) => {
      const st = window.pageYOffset || document.documentElement.scrollTop;
      // @ts-ignore
      const direction = st > e.target.lastScrollTop ? "down" : "up";

      for (let track of tracks) {
        // @ts-ignore
        track.style.setProperty(
          "--scroll-direction",
          direction == "down" ? 1 : -1
        );
      }

      // @ts-ignore
      e.target.lastScrollTop = st <= 0 ? 0 : st;
    },
    { passive: true }
  );
</script>

<style>
  aside {
    grid-column: 2;
    grid-row: 2;

    display: grid;
    grid-template-columns: 40px 1fr;
    align-self: start;
    position: sticky;
    top: var(--size-3);
    /* block-size: calc(100dvh - (var(--size-3) * 2)); */

    @media (width < 900px) {
      grid-template-columns: auto 1fr;
      gap: var(--size-1);

      a {
        width: 1ch;
        display: inline-block;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-indent: 100vw;
        background: var(--link);
        aspect-ratio: 1;
        border-radius: var(--radius-round);
      }

      .track {
        grid-column: 2;
        grid-row: 1;
      }
    }

    > nav {
      display: grid;
      border-radius: var(--radius-3);
      overflow: clip;
      background: var(--surface-1);
    }

    ul {
      padding: 0;
      display: grid;

      > li {
        display: flex;

        padding-inline: var(--size-3);
        padding-block: var(--size-2);

        & code {
          padding: 0;
          background: none;
        }
      }
    }
  }

  .track {
    /* managed by script */
    --scroll-direction: 1;

    container-type: size;
    position: relative;
    width: 2px;
    border-right: 2px dashed var(--surface-2);

    > [data-icon] {
      max-inline-size: initial;
      color: black;
    }

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: view()) {
        > [data-icon] {
          animation: truck-ride linear both;
          animation-timeline: view();
          view-timeline: --features-view;
          animation-range-start: entry calc(100vh - 3rem);
        }
      }
      @supports not (animation-timeline: view()) {
        > [data-icon] {
          display: none;
        }
      }
    }

    @media (width > 900px) {
      &::before,
      &::after {
        content: "";
        aspect-ratio: 1;
        background: var(--surface-3);
        border-radius: var(--radius-round);
        display: block;
        top: -10px;
        left: -4px;
        width: 10px;
        position: absolute;
      }

      &::after {
        top: auto;
        bottom: -10px;
      }
    }
  }
</style>

<style is:global>
  @keyframes truck-ride {
    from {
      transform: rotate(0.25turn) translateX(0cqb)
        scaleX(calc(var(--scroll-direction, 0)));
    }

    to {
      transform: rotate(0.25turn) translateX(calc(100cqb - 1ch))
        scaleX(calc(var(--scroll-direction, 0)));
    }
  }
</style>
