---
import 'lite-youtube-embed/src/lite-yt-embed.css';

interface Props {
  id: string;
  width?: number;
  height?: number;
  poster?: string;
}

const {
  id,
  width = 560,
  height = 315,
  poster,
} = Astro.props;
const posterURL = poster || `https://i.ytimg.com/vi/${id}/hqdefault.jpg`;
const embedURL = `https://www.youtube.com/embed/${id}`;
const watchURL = `https://youtube.com/watch?v=${id}`;
---

<script src="lite-youtube-embed"></script>

<lite-youtube videoid={id} style={`background-image: url('${posterURL}');`} width={width} height={height}>
  <a href={watchURL} class="lyt-playbtn" title="Play Video">
    <span class="lyt-visually-hidden">Play Video</span>
  </a>
</lite-youtube>

<style define:vars={{ aspectRatio: width / height }}>
  @layer components.youtube {
    lite-youtube {
      width: 100%;
    }

    lite-youtube > iframe {
      all: unset !important;
      width: 100%;
      height: auto;
      aspect-ratio: var(--aspectRatio);
    }

    /* Make the fallback link the size of the whole component */
    lite-youtube > a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: var(--radius-3);
    }

    /* Hide the fallback link when the component loads the button to prevent two tab stops */
    lite-youtube:has(button) > a {
      display: none;
    }
  }
</style>