---
import 'lite-youtube-embed/src/lite-yt-embed.css';

interface Props {
  id: string;
  width?: number;
  height?: number;
}

const {
  id,
  width = 560,
  height = 315,
} = Astro.props;
const posterURL = `https://i.ytimg.com/vi/${id}/hqdefault.jpg`;
const embedURL = `https://www.youtube.com/embed/${id}`;
const watchURL = `https://youtube.com/watch?v=${id}`;
---

<script src="lite-youtube-embed"></script>

<lite-youtube videoid={id} style={`background-image: url('${posterURL}');`}>
  <a href={watchURL} class="lyt-playbtn" title="Play Video">
    <span class="lyt-visually-hidden">Play Video</span>
  </a>
</lite-youtube>

<style define:vars={{ aspectRatio: width / height }}>
  @layer components.youtube {
    lite-youtube > iframe {
      all: unset !important;
      width: 100%;
      height: auto;
      aspect-ratio: var(--aspectRatio);
    }
  }
</style>